<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Home</title>

  </head>

  <body>
    <script type="text/javascript" src="{% static 'polls/index.js' %}"></script>
    
    <h1>Recent polls</h1>
    <div id="questions-list">

    </div>
    <a href="{% url 'polls:all_polls' %}" id="all-polls">Show all polls</a>
    <br><br>
    <a href="{% url 'polls:login' %}">Login to vote or start your own polls</a>
    <br><br>
    <a href="{% url 'polls:register' %}">New Here? Register</a>

  </body>
</html>
