<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <p><b>REGISTER</b></p>
    <div>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="Register" value="Register">
      </form>
    </div>
    <br><br>
    <a href="{% url 'polls:login' %}">Have an account? Log In</a>
  </body>
</html>
